@import "tailwindcss";

:root {
    --color-primary: #A51CBA;
    --text-primary: #FFFFFF;
    --all-text-color: #111B19;
}

/* You can also create a reusable button class */
.btn-primary {
    background-color: var(--color-primary);
    color: var(--text-primary);
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
}
.bg-primary-color{
    background-color: var(--color-primary);
}

body {
    color: var(--all-text-color);
}